.annocument {
  position: relative;
}

.box-sale1 {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  background: #fff;
  margin-left: 20px;
  text-align: center;
  border-radius: 10px;
}

.box-sale2 {
  position: absolute;
  bottom: 100px;
  right: 120px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  background: #fff;
  margin-left: 20px;
  text-align: center;
  border-radius: 10px;
}
.img img {
  object-fit: cover;
}
